.logoBrand {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  color: #FFF;
}

.logoBrand:hover {
  color: #FFF;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
  margin: 1rem auto 6rem;
}