.blogItem {
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.blogItem:hover {
    background-color: red;
}

.blogItemCover{
    width: 180px;
}