@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

.alter {
  width: 370px;
  text-align: right;
}

.faceFirstLine,
.faceSecondLine,
.faceThirdLine,
.faceFourthLine {
  font-size: 3rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
  gap: .5rem;
}

.subLine {
  font-size: 1.5rem;
  justify-content: center;
  color: gray;
  text-align: center;
}

.keycontentTitle {
  font-size: 1.15rem;
}


.faceFirstLine {}

.faceSecondLine {}

.faceThirdLine {
  color: $cyan-500
}

.faceFourthLine {}

.githubBtn {
  font-size: 1.8rem;
  font-weight: 600;
  display: flex;
  gap: 0.5rem
}

.section {
  text-align: center;
}

.section1 {}

.features {
  margin: 0 5px;
}

.feature {
  box-sizing: border-box;
  color: $black;
  color-scheme: light;
  border: 1px solid rgba(234, 234, 234, 0.176);
  border-radius: 8px;
  padding: 24px 12px;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%), 0 12px 24px rgb(0 0 0 / 5%);
}

.section2 {}

.imgContainer {
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.featureTitle {}

.featureDesc {}

.sdkRow {
  padding-left: 15px;
  padding-right: 15px;

}

.sdkRowLeft {
  text-align: left;
  padding-top: 20px;
}

.sdkRowLeftSecondLine {
  padding-top: 30px;
}

@media (max-width: 769px) {
  .sdkRowLeft {
    text-align: center;
    padding-top: 0px;
  }
}


@media (max-width: 576px) {

  .faceFirstLine,
  .faceSecondLine,
  .faceThirdLine {
    font-size: 2.5rem;
    display: block;
    text-align: center;
  }

  .alter {
    width: 360px;
    text-align: center;
  }
}

